@import "./_variables.scss";

* {
    font-family: $font-sans;
    scroll-behavior: smooth;
    font-size: 20px;
    color: $black;
    padding: 0;
    margin: 0;
}

html,
body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-color: $white;
    overflow-x: hidden;
    min-height: 100vh;
    height: 100vh;
}

a,
input,
button {
    text-decoration: none;
    border: none;
}

a:focus,
input:focus,
button:focus {
    outline: none;
}

fieldset {
    border: none;
}

i {
    font-style: normal;
}

#root,
.container {
    height: 100%;
}