@import "./mixins.scss";
@import "./_variables.scss";

.selected-book {
    color: $black;
    padding-top: 60px;
    @include respond(padding-top, 100px);
    box-sizing: border-box;
    background-color: grey;
    @include size(100%, 100%);
    @include flex(center, center, column);
    @include respond(flex-flow, row);


    .selected-book-image {
        @include size(auto, 300px);
        @include respond(height, 500px, 500px);
        @include respond(padding-right, 50px);
    }

    .selected-book-details {
        text-align: start;

        .selected-book-title {
            font-size: 25px;
            @include respond(font-size, 40px);
            font-weight: bold;
        }

        p {
            font-size: 15px;
            @include respond(font-size, 25px);
            padding-top: 5px;
            @include respond(padding-top, 30px);
        }

        .selected-book-description {
            font-size: 12px;
            @include respond(font-size, 20px);
            padding-top: 5px;
            @include respond(padding-top, 80px);
            overflow: hidden;
        }
    }
}