@import "./_mixins.scss";
@import "./_variables.scss";

.carousel-container {
    overflow: hidden;
    position: relative;
    background-color: #F6F6F6;
    padding: 50px 10px 60px;
    @include respond(padding, 50px 40px 60px, 50px 90px 60px, 50px 140px 60px);

    .carousel-title {
        font-size: 30px;
        padding-bottom: 20px;
        padding-left: 10px;
        font-weight: 500;
    }

    .book-title {
        color: $black;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 500;
    }

    .book-author,
    .book-reviewedBy {
        opacity: 0.5;
        font-size: 18px;
    }

    &:nth-child(even) {
        background-color: $black;

        .carousel-title,
        .book-title {
            color: $white;
        }

        .book-author,
        .book-reviewedBy {
            color: $green;
            opacity: 1;
        }
    }

    .carousel {

        .book-image {
            @include size(100%, auto);
        }

        .book-details {
            width: 100%;
            text-align: left;
        }
    }
}

.slick-prev {   
    left: 0px;
    @include respond(left, -40px, -50px, -90px);
}

.slick-next {
    right: 0px;
    @include respond(right, -40px, -50px, -90px);
}

.slick-prev,
.slick-next {
    @include respond(background-color, transparent, $white);
    @include respond(border, none, 1px solid rgba(0, 0, 0, 0.1));
    @include size(50px, 50px);
}

.slick-next:before,
.slick-prev:before {
    content: "<";
    color: $gray;
    font-size: 40px;
    line-height: 40px;
    font-family: $font-varela;
}

.slick-next:before {
    content: ">";
}

.slide-container div {
    padding-right: 5px;
    padding-left: 5px;
    @include flex(center, center, column);
}

.slide-container div div {
    width: 70%;
    @include flex(flex-start, flex-start, column);
}