@import "./_mixins.scss";
@import "./_variables.scss";

.carousel-container {
    overflow: hidden;
    padding-left: 25%;
    position: relative;
    background-color: #F6F6F6;

    .carousel-title {
        padding: 25px 0;
        font-size: 15px;
        font-weight: bold;
        @include respond(font-size, 2vh, 3vh);
    }

    .book-title {
        color: $black;
        font-size: 12px;
        padding-top: 5px;
        font-weight: bold;
        padding-bottom: 5px;
        @include respond(font-size, 2vh);
    }

    .book-author,
    .book-reviewedBy {
        color: $grey;
        font-size: 12px;
        @include respond(font-size, 1.5vh, 2vh);
    }

    &:nth-child(even) {
        background-color: $black;

        .carousel-title,
        .book-title {
            color: $white;
        }

        .book-author,
        .book-reviewedBy {
            color: $green;
        }
    }

    @include respond(height, 55vh);

    .carousel {
        padding: 10px 0;
        transition: 1s ease-in-out;
        @include flex(center, flex-start);
        @include respond(padding-left, 10vw);

        .book {
            padding-left: 100vw;
            @include respond(padding-left, 0);
            @include respond(width, 27vw, 16vw);

            &:nth-child(1) {
                padding-left: 0;
            }

            &:nth-child(3n) {
                @include respond(padding-right, 10vw, 0);
            }

            &:nth-child(5n) {
                @media screen and (min-width: $desktop-min) {
                    padding-right: 10vw;
                }
            }

            .book-image {
                @include size(50vw, auto);
                @include respond(width, 25vw, 15vw);
                @include respond(height, 30vh, 33vh);
            }

            .book-details {
                text-align: left;
            }
        }
    }
}

.arrow-left,
.arrow-right {
    top: 0;
    left: 10vw;
    position: absolute;
    @include size(auto, 100%);
    @include respond(left, 5vw);
}

.arrow-right {
    left: 90vw;
    @include respond(left, 95vw);
}

.prev,
.next {
    color: $gray;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid $gray;
    background-color: $white;
    font-family: $font-varela;
    @include size(50px, 50px);
    @include respond(line-height, 4vh, 5vh);
}

.prev {
    @include absolute(50%, 10%);
}

.next {
    @include absolute(50%, 90%);
}