@import "./_mixins.scss";
@import "./_variables.scss";

.carousel-container {
    overflow: hidden;
    padding: 50px 0 50px 25%;
    position: relative;
    background-color: #F6F6F6;
    @include respond(padding, 50px 0px 50px 50px, 50px 0px 50px 100px, 50px 0px 50px 150px);

    .carousel-title {
        padding: 0 0 20px;
        font-size: 30px;
        font-weight: 500;
    }

    .book-title {
        color: $black;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 500;
    }

    .book-author,
    .book-reviewedBy {
        opacity: 0.5;
        font-size: 18px;
    }

    &:nth-child(even) {
        background-color: $black;

        .carousel-title,
        .book-title {
            color: $white;
        }

        .book-author,
        .book-reviewedBy {
            color: $green;
            opacity: 1;
        }
    }

    .carousel {
        padding: 10px 0;
        transition: 1s ease-in-out;
        @include flex(flex-start, flex-start);
        @include respond(padding-left, 5vw, 0);

        .book {
            padding-left: 100vw;

            @media screen and (min-width: 700px) {
                padding-left: 1vw;
            }

            @media screen and (min-width: 1024px) {
                padding-left: 1.5vw;
            }

            &:nth-child(1) {
                padding-left: 0;
            }

            &:nth-child(3n) {
                @include respond(padding-right, 100vw, 0);
            }

            &:nth-child(5n) {
                @media screen and (min-width: $desktop-min) {
                    padding-right: 100vw;
                }
            }

            .book-image {
                @include size(50vw, auto);
                @include respond(width, 25vw, 15vw);
            }

            .book-details {
                text-align: left;
            }
        }
    }
}

.arrow-left,
.arrow-right {
    top: 0;
    left: 10vw;
    position: absolute;
    @include size(auto, 100%);
    @include respond(left, 5vw);
}

.arrow-right {
    left: 90vw;
    @include respond(left, 95vw);
}

.prev,
.next {
    color: $gray;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid $gray;
    background-color: $white;
    font-family: $font-varela;
    @include size(50px, 50px);
    @include respond(line-height, 4vh, 5vh);
}

.prev {
    @include absolute(50%, 10%);
}

.next {
    @include absolute(50%, 90%);
}