@import "./_mixins.scss";
@import "./_variables.scss";

.categories {
    padding: 60px 20px 10px;
    @include respond(padding, 100px 50px 10px, 100px 100px 10px);

    .categories-title {
        * {
            color: $black;
            font-size: 30px;
        }
    }

    .categories-grid {
        row-gap: 10px;
        display: grid;
        padding-top: 15px;
        grid-template-columns: auto auto;
        @include respond(padding-top, 20px);
        @include respond(grid-template-columns, auto auto auto, auto auto auto auto);

        @media screen and (max-width: 500px) {
            grid-template-columns: auto;
        }

        .category-item {
            text-align: center;
            @include flex(flex-start, flex-start);

            .category-image {
                @include size(75px);
                @include respond(width, 80px);
            }

            .category-details {
                text-align: left;
            }

            .category-title {
                color: $black;
                font-size: 18px;
                font-weight: 500;
            }

            .category-discription {
                opacity: 0.5;
                font-size: 15px;
                padding-top: 5px;
                line-height: 20px;
            }
        }
    }
}