@import "./_mixins.scss";
@import "./_variables.scss";

.footer {
    overflow: hidden;
    background-color: $grey;
    @include flex(flex-start);

    .footer-section {
        padding: 10px 10px 0;
        box-sizing: border-box;

        &.footer-categories {
            border: 1px solid #292929;

            @media screen and (min-width:500px) {
                column-count: 2;
            }

            @media screen and (min-width:700px) {
                column-count: 3;
            }
        }
    }

    .footer-title {
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        @include size(max-content, auto);
    }

    .footer-list {
        list-style: none;

        .footer-list-item {
            padding-top: 5px;

            a div {
                color: $gray;
                font-size: 14px;
                text-align: start;

                &:focus {
                    color: $green;
                }
            }
        }
    }
}