@import "./_mixins.scss";
@import "./_variables.scss";

.header {
    top: 0;
    left: 0;
    z-index: 2;
    color: $white;
    position: fixed;
    background-color: $green;
    @include size(100%, 50px);
    @include respond(height, 70px);
}

.header-logo {
    top: 50%;
    left: 100px;
    display: none;
    position: absolute;
    transform: translateY(-50%);
    @include respond(left, 50px, 100px, 150px);
    @include respond(display, block);

    .header-logo-book,
    .header-logo-reviews {
        color: $white;
        @include respond(font-size, 25px);
    }
}

.navbar {
    @media screen and (max-width:$mobile-max) {
        width: 100%;
    }

    padding: 0 20px;
    box-sizing: border-box;
    @include absolute(50%, 100%);
    @include respond(left, calc(100% - 50px), calc(100% - 100px), calc(100% - 150px));
    @include respond(padding, 0);
    transform: translate(-100%, -50%);

    .show-navbar {
        @media screen and (min-width:$mobile-max) {
            display: none;
        }

        width: 20px;
        height: 20px;
        background-color: transparent;
        float: right;
        transform: translateY(-30%);
    }

    .navbar-main-menu {
        @media screen and (max-width:$mobile-max) {
            display: none;
        }

        list-style: none;
        text-transform: uppercase;
        @include flex(center, space-around);

        .navbar-main-item {
            margin-right: 10px;

            &#booksMainMenu {
                cursor: pointer;
                position: relative;
                padding-right: 10px;
                @include respond(padding-right, 15px);
            }

            &#searchMainMenu {
                margin-right: 0;
            }

            &,
            a,
            i {
                color: $white;
                font-size: 12px;
                line-height: 12px;
                font-weight: bold;
                text-align: center;
                @include respond(font-size, 15px);
                @include respond(line-height, 1px);

                &:hover {
                    color: $grey;

                    >.arrow-down {
                        border-top-color: $grey;
                    }
                }

                &:focus {
                    color: $black;

                    >.arrow-down {
                        border-top-color: $black;
                    }
                }
            }
        }
    }

    .navbar-sub-menu {
        position: fixed;
        list-style: none;
        text-transform: none;
        transform: translate(0, 7%);
        @include respond(transform, translate(-40%, 12%));
        @include flex(flex-start, center, column nowrap);

        .navbar-sub-item {
            .navbar-sub-item-text {
                width: 150px;
                height: 15px;
                padding: 12px;
                color: $white;
                font-size: 14px;
                line-height: 14px;
                border: 1px solid $gray;
                background-color: $green;
                @include respond(width, 150px);
            }

            .navbar-sub-item-text:hover {
                background-color: $green-dark;
            }
        }
    }
}

.arrow-down {
    width: 0;
    height: 0;
    border-top: 5px solid $white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    @include absolute(50%, 90%)
}