@import "./_mixins.scss";
@import "./_variables.scss";

.header {
    top: 0;
    left: 0;
    z-index: 2;
    color: $white;
    position: fixed;
    background-color: $green;
    @include size(100%, 50px);
    @include respond(height, 70px);
}

.header-logo {
    top: 50%;
    left: 50px;
    display: none;
    position: absolute;
    transform: translateY(-50%);
    @include respond(left, 50px, 100px);
    @include respond(display, block);

    .header-logo-book,
    .header-logo-reviews {
        color: $white;
        @include respond(font-size, 25px);
    }
}

.navbar {
    padding: 0 20px;
    @include absolute(50%, 50%);
    @include respond(left, 70%);
    @include respond(padding, 0);

    .navbar-main-menu {
        list-style: none;
        text-transform: uppercase;
        @include flex(center, space-around);

        .navbar-main-item {
            margin-right: 10px;
            @include respond(margin-right, 15px, 50px);

            &#booksMainMenu {
                cursor: pointer;
                position: relative;
                padding-right: 10px;
                @include respond(padding-right, 15px, 25px);
            }

            &#searchMainMenu {
                margin-right: 0;
            }

            &,
            a,
            i {
                color: $white;
                font-size: 12px;
                line-height: 12px;
                font-weight: bold;
                text-align: center;
                @include respond(font-size, 15px);
                @include respond(line-height, 1px);

                &:hover {
                    color: $grey;

                    >.arrow-down {
                        border-top-color: $grey;
                    }
                }

                &:focus {
                    color: $black;

                    >.arrow-down {
                        border-top-color: $black;
                    }
                }
            }
        }
    }

    .navbar-sub-menu {
        position: fixed;
        list-style: none;
        text-transform: none;
        transform: translate(-40%, 10%);
        @include respond(transform, translate(-40%, 18%));
        @include flex(flex-start, center, column nowrap);

        .navbar-sub-item {
            .navbar-sub-item-text {
                width: 150px;
                height: 15px;
                padding: 5px;
                color: $white;
                font-size: 14px;
                line-height: 14px;
                border: 1px solid $gray;
                background-color: $green;
                @include respond(width, 200px);
            }

            .navbar-sub-item-text:hover {
                background-color: $green-dark;
            }
        }
    }
}

.arrow-down {
    width: 0;
    height: 0;
    border-top: 5px solid $white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    @include absolute(50%, 90%)
}