@import "./_mixins.scss";
@import "./_variables.scss";

.header {
    top: 0;
    left: 0;
    z-index: 2;
    color: $white;
    position: fixed;
    background-color: $green;
    @include size(100%, 50px);
    @include respond(height, 5vh, 7vh);
}

.header-logo {
    display: none;
    color: $white;
    @include absolute(50%, 25%);
    @include respond(left, 20%, 10%);

    .header-logo-book,
    .header-logo-reviews {
        @include respond(font-size, 2vh, 3vh);
    }
}

.navbar {
    margin-top: 20px;
    padding: 0 20px;

    .navbar-main-menu {
        list-style: none;
        text-transform: uppercase;
        @include flex(center, space-around);


        .navbar-main-item {
            margin-right: 15px;

            &#booksMainMenu {
                position: relative;
                padding-right: 10px;
            }

            &#searchMainMenu {
                margin-right: 0;
            }

            &,
            a,
            i {
                color: $white;
                font-size: 12px;
                line-height: 12px;
                font-weight: bold;
                text-align: center;
                @include respond(font-size, 1vh, 2vh);
                @include respond(line-height, 1vh, 2vh);

                &:hover {
                    color: $grey;

                    >.arrow-down {
                        border-top-color: $grey;
                    }
                }

                &:focus {
                    color: $black;

                    >.arrow-down {
                        border-top-color: $black;
                    }
                }
            }
        }
    }

    .navbar-sub-menu {
        position: fixed;
        list-style: none;
        text-transform: none;
        transform: translate(-40%, 10%);
        @include respond(transform, translate(-25%, 10%));
        @include flex(flex-start, center, column nowrap);

        .navbar-sub-item {
            .navbar-sub-item-text {
                width: 150px;
                height: 15px;
                padding: 5px;
                color: $white;
                font-size: 14px;
                border: 1px solid $gray;
                background-color: $green;
            }

            .navbar-sub-item-text:hover {
                background-color: $green-dark;
            }
        }
    }
}

.arrow-down {
    width: 0;
    height: 0;
    border-top: 5px solid $white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    @include absolute(50%, 90%)
}